.git
.gitignore
.env
*.pyc
__pycache__
.DS_Store
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/
.docker/ 

# Was used to upload all media files to a folder.
# Cloudinary is now used, but keeping this just in case.
media/